@charset "UTF-8";
body, p, div, ul, li {
  padding: 0;
  margin: 0; }

body {
  font-size: 100%;
  background: #f7f7f7;
  font: 12px/1.5 "Microsoft YaHei",'微软雅黑',Arial,Tahoma,"Hiragino Sans GB",STHeiti; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.layout-wp .layout-hd {
  margin: 0 5px; }
.layout-wp .layout-bd {
  margin: 0 5px; }

/* 通用的提示信息 */
.tips {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  font-size: 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  height: 0;
  line-height: 2em;
  transition: all linear 0.2s; }

header {
  height: 2em;
  line-height: 2em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  border-bottom: 1px solid #38beff; }
  header .user {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1; }
  header .other {
    position: relative;
    margin: 0.2em 0.5em;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    border: 1px solid #38beff; }
    header .other .arrow {
      position: absolute;
      top: 0.3em;
      left: 0.4em;
      width: 0.6em;
      height: 0.6em;
      border-top: 1px solid #38beff;
      border-left: 1px solid #38beff;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transition: all linear 0.2s; }
      header .other .arrow.expand {
        top: 0.2em;
        left: 0.28em;
        transform: rotate(-135deg); }
    header .other .page-href {
      position: absolute;
      width: 80px;
      top: 26px;
      right: 0;
      padding: 0 5px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      z-index: 10;
      text-align: center; }
      header .other .page-href p {
        display: inline-block;
        line-height: 1em; }
      header .other .page-href .up-arrow {
        position: relative;
        right: -62px;
        top: -5px;
        background: #fff;
        width: 0.6em;
        height: 0.6em;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        transform: rotate(45deg); }

.ui.button {
  display: inline-block;
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;
  font-size: 1.5em; }
.ui.blue {
  background: #269abc;
  color: white; }
.ui.disable {
  background: #999 !important; }

/* 游戏规则 */
.manual {
  padding: 5px; }
  .manual h3 {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 1em; }
  .manual p {
    text-indent: 2em;
    color: #999; }
    .manual p strong {
      color: #777; }

.user-warp {
  height: 160px; }
  .user-warp .user-items {
    display: -webkit-box;
    display: -ms-box;
    display: -moz-box;
    display: box; }
    .user-warp .user-items .user-item {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;
      height: 160px;
      max-width: 2em; }
      .user-warp .user-items .user-item .item-layout {
        position: relative;
        height: 100%;
        margin: 0 auto;
        width: 80%; }
        .user-warp .user-items .user-item .item-layout .mask {
          background: blue;
          width: 100%;
          position: absolute;
          bottom: 0; }
          .user-warp .user-items .user-item .item-layout .mask.current {
            background: red; }

/*.user-items .user-item:nth-of-type(1) .item-layout .mask{
  height: 25%;
}

.user-items .user-item:nth-of-type(2) .item-layout .mask{
  height: 44%;
}

.user-items .user-item:nth-of-type(3) .item-layout .mask{
  height: 13%;
}

.user-items .user-item:nth-of-type(4) .item-layout .mask{
  height: 82%;
}*/
.questions-items {
  padding: 5px; }
  .questions-items .questions-item {
    display: none; }
    .questions-items .questions-item:first-of-type {
      display: block; }
    .questions-items .questions-item p {
      margin: 5px 0;
      padding: 5px; }
      .questions-items .questions-item p.selected {
        background: #269abc;
        color: #fff; }

.rank-items .rank-item {
  display: -webkit-box;
  display: -ms-box;
  display: -moz-box;
  display: box;
  padding: 0.75em 0.4em;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }
  .rank-items .rank-item div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    font-size: 1em; }

.startBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  letter-spacing: 2px;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none; }
