<input type="hidden" ng-init="user.sid = <%=user.sid%>"/>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <button class="btn btn-default btn-sm btn-xs" type="button">
                    撤退
                </button>
            </div>
            <div class="col-md-10 col-xs-10">
                <h3 class="panel-title text-center"><%=qstitle%>-战场</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <section class="user-warp">
            <dl class="user-items">

            </dl>
        </section>
    </div>

    <div class="tool-wrap">

    </div>

    <ul class="questions-items">

    </ul>

    <a class="ui button blue startBtn" ng-disable="true" ng-class="disable" ng-show="<%=startBtn%>">等待</a>
</div>
