<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-center">AAAA题集战场-练兵场1</h3>
    </div>
    <div class="panel-body">
        <section class="user-warp">
            <dl class="user-items">
                <% users.forEach(function(u){ %>
                    <dd class="user-item">
                        <div class="item-layout">
                            <% if(user.id == u.id){ %>
                                <div class="mask current"></div>
                            <%} else {%>
                                <div class="mask"></div>
                            <%}%>
                        </div>
                    </dd>
                <%})%>
            </dl>
        </section>
    </div>

    <div class="tool-wrap">
        <button class="btn btn-default btn-sm btn-xs" type="button">
            20/50
        </button>

        <button class="btn btn-default btn-sm btn-xs" type="button">
            43秒
        </button>

        <button class="btn btn-primary btn-sm btn-xs" type="button">
            提交
        </button>
    </div>

    <dl class="list-group">
        <dt class="list-group-item">
            题干
        </dt>
        <dd class="list-group-item">
            答案
        </dd>
    </dl>
</div>
