
<a class="btn btn-link" href="#/main">返回</a>
<div class="text-center">
    <h3>荣誉榜</h3>
</div>
<hr />

<table class="table">
    <tr ng-repeat="user in users">
        <td>
            <div class="row">
                <div class="col-xs-6">
                    <p><strong>用户：</strong>{{user.name}}</p>
                </div>
                <div class="col-xs-6">
                    <p><strong>岗位:</strong>{{user.job}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p><strong>积分：</strong>{{user.score}}</p>
                </div>
                <div class="col-xs-6">
                    <p><strong>挑战:</strong>{{user.battles}}</p>
                </div>
            </div>
        </td>
    </tr>
</table>

<p class="btn btn-link center-block" ng-show="showMore" ng-click="more()">更多</p>