<!DOCTYPE html>
<html ng-app="test_game">
  <head>
    <title><%=locals.appName%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bootstrap-3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-treeview/bootstrap-treeview.min.css">
  </head>
  <body ng-controller="test_game_honorcontroller">

  <div class="page-header text-center">
      <h2>荣誉榜</h2>
  </div>

    <!-- 题目列表 -->
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users" ng-cloak>
                <div class="row">
                    <div class="col-md-4 col-xs-4" ng-cloak>
                        {{user.name}}
                    </div>
                    <div class="col-md-4 col-xs-4" ng-cloak>
                        对战：{{user.gameTime}}
                    </div>
                    <div class="col-md-4 col-xs-4" ng-cloak>
                        积分：{{user.score}}
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- 引入的脚本 -->
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script src="/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/ui-bootstrap-0.11.0/ui-bootstrap-tpls-0.11.0.js"></script>
</body>

<script type="text/javascript">
angular.module('test_game', ['ui.bootstrap'])
.controller('test_game_honorcontroller', ['$scope', '$http', function($scope, $http) {

    $scope.users = [];


    $http({
        method : 'POST',
        url : '/honor/list',
        cache : false,
        timeout : 30000
    }).success(function(data, status, headers, config){
        $scope.users = data;
    });


}]);
</script>
</html>
