
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ><a href="#/settings">系统设置</a></li>
    <li role="presentation"><a href="#/importusers">用户导入</a></li>
    <li role="presentation" class="active"><a href="#/importquestions">题目导入</a></li>
    <li role="presentation"><a href="#/report">报表</a></li>
</ul>

<div class="container-fluid" style="margin-top:10px;">
    <form class="form-horizontal" id="question_form" role="form" action="/admin/importquestions" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="qcid"/>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="ztree-wrap">
                    <div class="ztree-bd">
                        <div class="ztree">
                            <div id="questioncategory">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label for="exampleInputFile">选择文件</label>
                    <input type="file" id="exampleInputFile" name="file">
                    <p class="help-block">文件格式为：json</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">题目集名:</label>
                    <div class="col-sm-10">
                        <input type="text" name="title" class="ui form-control"  placeholder="请输入题目集名">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">练习积分:</label>
                    <div class="col-sm-10">
                        <input type="number" name="drillScore" class="ui form-control" value="2" placeholder="请输入练习积分">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">挑战积分:</label>
                    <div class="col-sm-10">
                        <input type="number" name="battleScore" class="ui form-control" value="20" placeholder="请输入挑战积分">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">该题集合格时间(秒):</label>
                    <div class="col-sm-10">
                        <input type="number" name="maxTime" class="ui form-control" value="120" placeholder="请输入最大的挑战时间">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top: 50px;">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary btn-lg" style="padding: 20px 100px;">导入</button>
            </div>
        </div>
    </form>
</div>