<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ><a href="#/settings">系统设置</a></li>
    <li role="presentation" class="active"><a href="#/importusers">用户导入</a></li>
    <li role="presentation" ><a href="#/importquestions">题目导入</a></li>
    <li role="presentation"><a href="#/report">报表</a></li>
</ul>

<div class="container-fluid" style="margin-top:10px;">
    <form class="form-horizontal" role="form" accept-charset="utf-8" action="/admin/importusers" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="exampleInputFile">选择文件</label>
            <input type="file" id="exampleInputFile" name="file">
            <p class="help-block">文件格式为：csv</p>
        </div>
        <div class="form-group" style="margin-top: 50px;">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary btn-lg" style="padding: 20px 100px;">导入</button>
            </div>
        </div>
    </form>
</div>