<!DOCTYPE html>
<html ng-app="test_game">
  <head>
    <title><%=locals.appName%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bootstrap-3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-treeview/bootstrap-treeview.min.css">
    <!-- 提前引入,防止FOUC -->
      <script src="/javascripts/angular.js"></script>

      <script src="http://cdn.staticfile.org/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
  </head>
  <body ng-controller="test_game_controller">



    <div ng-view>

    </div>




    <!-- 引入的脚本 -->

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script src="/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/ui-bootstrap-0.11.0/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <script src="http://cdn.staticfile.org/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
</body>

<script type="text/javascript">
    var socket = io();
    socket.on('push', function(m){
        alert(m)
    });

var app = angular.module('test_game', ['ngRoute', 'ui.bootstrap']);

app.config(function($routeProvider) {
    $routeProvider.when('/', {
        templateUrl : '/honor',
        controller  : 'regController'
    });

    // route for the about page
    $routeProvider.when('/war', {
        templateUrl : '/war',
        controller  : 'downloadController'
    });

});

app.controller('test_game_controller', ['$scope', '$http', function($scope, $http) {
    //显示题目树标记
    $scope.showQuestionTreeFlag = false;

    $scope.questions = [];

    //监听所选中的节点的变化
    var onNodeSelected = function(event, node){
        $http({
            method : 'POST',
            url : '/question/leaf',
            params : {
                id : node.id
            },
            cache : false,
            timeout : 30000
        }).success(function(data, status, headers, config){
            $scope.questions = data;
        });
    };

    //显示题目树
    $scope.showTreeView = function(){
        //修改显示题目树标记
        $scope.showQuestionTreeFlag = !$scope.showQuestionTreeFlag;

        //发送异步请求
        $http({
            method : 'POST',
            url : '/question/tree',
            cache : false,
            timeout : 30000
        }).success(function(data, status, headers, config){
            $('#questiontree').treeview({
                bootstrap2: false, 
                color : '#808080',
                showTags: true,
                levels: 2,
                data: data,
                onNodeSelected : onNodeSelected
            });
        });
    };




}]);


</script>
</html>
