<!DOCTYPE html>
<html ng-app="test_game">
    <head>
        <title><%=locals.appName%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/bootstrap-3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">

        <script src="/javascripts/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/angular.js"></script>

        <script src="/javascripts/zepto.min.js"></script>
        <script type="text/javascript" src="/zTree/js/jquery.ztree.core-3.5.min.js"></script>

        <script src="/bootstrap-3.2.0/js/bootstrap.min.js"></script>
        <script src="/ui-bootstrap-0.11.0/ui-bootstrap-tpls-0.11.0.js"></script>

        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.13/angular-route.min.js"></script>

        <style>
            .tips {
                position: fixed;
                width: 100%;
                text-align: center;
                top: 0;
                font-size: 1em;
                color: #fff;
                background: rgba(0, 0, 0, 0.5);
                left: 0;
                height: 0;
                line-height: 2em;
                transition: all linear 0.2s;
            }
        </style>
    </head>
<body ng-controller="main_controller">
        <!-- 提示信息 -->
        <%if(locals.success && locals.success.length > 0){%>
            <div class="alert alert-success"><%=locals.success%></div>
        <%}%>
        <div class="container-fluid" style="margin-top:10px;">
            <div ng-view></div>
        </div>

        <div class="tips" style="height: {{tipHeight}};">
            {{msg}}
        </div>
</body>

<script type="text/javascript" src="/js/main_controller.js"></script>
<script type="text/javascript" src="/js/honor_controller.js"></script>
<script type="text/javascript" src="/js/mybattles_controller.js"></script>
<script type="text/javascript" src="/js/warzone_controller.js"></script>
<script type="text/javascript" src="/js/battle_controller.js"></script>
<script type="text/javascript" src="/js/ranklist_controller.js"></script>
<script type="text/javascript" src="/js/drillwar_controller.js"></script>
<script type="text/javascript">
    var socket = io();

    var app = angular.module('test_game', ['ngRoute', 'ui.bootstrap']);
    app.config(['$routeProvider', function($routeProvider) {
        $routeProvider.when('/main', { //主界面
            templateUrl : '/main',
            controller  : 'main_controller'
        }).when('/honor', {
            templateUrl : '/honor', //荣誉榜
            controller  : 'honor_controller'
        }).when('/mybattles', {
            templateUrl : '/mybattles', //我的挑战
            controller  : 'mybattles_controller'
        }).when('/manual', {
            templateUrl : '/manual' //游戏说明
        }).when('/warzone/:qsid', {
            templateUrl : '/warzone', //某一题集下的对战房间
            controller  : 'warzone_controller'
        }).when('/battle/:bid', {
            templateUrl : '/battle',  //战场
            controller  : 'battle_controller'
        }).when('/ranklist', {
            templateUrl : '/ranklist', //某考题集积分排行榜
            controller  : 'ranklist_controller'
        }).when('/drillwar', {
            templateUrl : '/drillwar', //某一题集下的练兵场
            controller  : 'drillwar_controller'
        }).otherwise({
            redirectTo : '/main'
        });
    }]).controller('main_controller', ['$scope', '$http', '$timeout', main_controller])
            .controller('honor_controller', ['$scope', '$http', honor_controller])
            .controller('mybattles_controller', ['$scope', '$http', mybattles_controller])
            .controller('warzone_controller', ['$scope', '$http', '$routeParams', warzone_controller])
            .controller('ranklist_controller', ['$scope', '$http', ranklist_controller])
            .controller('drillwar_controller', ['$scope', '$http', drillwar_controller])
            .controller('battle_controller', ['$scope', '$http', '$routeParams', battle_controller]);

</script>
</html>
