<article class="manual">
    <h3>
        游戏规则
    </h3>
    <section>
        <p><strong>1 、发牌</strong></p>
        <p>一副牌 54 张，一人 17 张，留 3 张做底牌，在确定地主之前玩家不能看底牌。</p>
        <p><strong>2 、叫牌</strong></p>
        <p>叫牌按出牌的顺序轮流进行，每人只能叫一次。叫牌时可以叫 “1 分 ” ， “2 分 ” ， “3 分 ” ， “ 不叫 ” 。后叫牌者只能叫比前面玩家高的分或者不叫。叫牌结束后所叫分值最大的玩家为地主；如果有玩家叫 “3 分 ” 则立即结束叫牌，该玩家为地主；如果都不叫，则重新发牌，重新叫牌。 </p>
        <p><strong>3 、第一个叫牌的玩家</strong></p>
        <p>第一轮叫牌的玩家由系统选定，以后每一轮首先叫牌的玩家按出牌顺序轮流担任。</p>
        <p><strong>4 、出牌</strong></p>
        <p>将三张底牌交给地主，并亮出底牌让所有人都能看到。地主首先出牌，然后按逆时针顺序依次出牌，轮到用户跟牌时，用户可以选择 “ 不出 ” 或出比上一个玩家大的牌。某一玩家出完牌时结束本局。 </p>
        <p><strong>5 、胜负判定</strong></p>
        <p>任意一家出完牌后结束游戏，若是地主先出完牌则地主胜，否则另外两家胜。</p>
    </section>
</article>
