 <div class="text-right">
    <button type="button" class="btn btn-default" ng-click="showTreeView();">打开题目</button>
</div>
<div ng-show="showQuestionTreeFlag">
    <label for="questiontree"></label>
    <div id="questiontree"/></div>
</div>