 <div class="text-right">
    <button type="button" class="btn btn-default" ng-click="showTreeView();">打开题目</button>
</div>
<div ng-show="showQuestionTreeFlag">
    <label for="questiontree"></label>
    <div id="questiontree"/></div>
</div>
<table class="table table-striped table-hover">
    <tr ng-repeat="question in questions">
        <td>
        	<div class="row">
                <div class="col-md-2">
                    <h4><strong>{{question.title}}</strong></h4>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>挑战积分:</strong>{{question.challenge}}</p>
                            <p><strong>在线人数:</strong>{{question.users}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p><strong>练习积分<strong>{{question.training}}</p>
                        </div>
                    <div>
                </div>
            </div>
        </td>
    </tr>
<table>