
<a class="btn btn-link" href="#/main">返回</a>
<section class="layout-wp">
    <section class="layout-hd">
        <h3 class="text-center"><%= store.title %></h3>
    </section>
    <section class="layout bd">
        <ul class="rank-items">
            <li class="rank-item" ng-repeat="rank in runkList">
                <div class="name">姓名：{{rank.name}}</div>
                <div class="scope">挑战积分：{{rank.maxBattleScore}}</div>
                <div class="time">挑战时间：{{rank.lastTime}}</div>
            </li>
        </ul>
    </section>
    <div class="row" ng-show="showRankMore">
        <p class="text-center" ng-click="moreRank()">更多</p>
    </div>
</section>