<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ><a href="#/settings">系统设置</a></li>
    <li role="presentation" ><a href="#/importusers">用户导入</a></li>
    <li role="presentation" ><a href="#/importquestions">题目导入</a></li>
    <li role="presentation" class="active"><a href="#/report">报表</a></li>
</ul>

<div class="container-fluid" style="margin-top:10px;">
    <a href="">用户对战耗时与参战人数</a><br>
    <a href="">题目集的使用时刻、耗时和对战人数</a><br>
    <a href="/admin/report/logs">系统登录记录</a><br>
</div>