<!DOCTYPE html>
<html ng-app="test_game">
  <head>
    <title><%=locals.appName%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bootstrap-3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-treeview/bootstrap-treeview.min.css">

      <!-- 提前引入,防止FOUC问题出现 -->
    <script src="/javascripts/angular.js"></script>
  </head>
  <body ng-controller="test_game_warscontroller">

  <div class="page-header text-center">
      <h2>AAAA题集战场</h2>
  </div>

    <!-- 题目列表 -->
    <div class="container-fluid">
        <ul class="list-group">
            <% data.forEach(function (war) {%>
                <li class="list-group-item">
                <div class="row war-wrap">
                    <div class="col-md-3 col-xs-3 war-label">
                        战场<%=war.wid%>
                    </div>
                    <div class="col-md-9 col-xs-9 war-label">
                        <% war.users.forEach(function (user) {%>
                            <div class="col-md-4 col-xs-4 war-user">
                                <%=user.name%>
                            </div>
                        <%})%>
                    </div>
                </div>
            </li>
            <%})%>
        </ul>
    </div>

    <!-- 引入的脚本 -->

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script src="/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/ui-bootstrap-0.11.0/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</body>

<script type="text/javascript">
    /*var socket = io();
    socket.on('push', function(msg){
        alert(msg);
    });*/

    var gameApp = angular.module('test_game', ['ui.bootstrap']);
    gameApp.controller('test_game_warscontroller', ['$scope', '$http', function($scope, $http) {
        
    }]);
</script>

  <style>



  </style>

</html>
