<div class="page-header text-center">
      <h2>AAAA题集战场</h2>
    <a href="#/ranklist">排行榜</a>
    <a href="#/drillwar/<%=qs_id%>">练兵场</a>

    <a href="#/battle">战场</a>

    <a href="">建个战场</a>
</div>
<div class="container">
    <table class="table">
        <tr ng-repeat="battle in battles">
            <td>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#battle/{{battle.bid}}">
                            <p><strong>战场{{battle.bid}}</strong></p>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <p><strong>{{battle.rivals}}</strong></p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>